---
import ICONS_LIST from '../assets/icons.json'
import { Image } from 'astro:assets'
import Ecommerce from '../assets/projects/ecommerce.png'
import Ecommerce2 from '../assets/projects/ecommerce2.png'
import Waldo from '../assets/projects/waldo.png'
import Battleship from '../assets/projects/battleship.png'
import Todo from '../assets/projects/todo.png'
import Memory from '../assets/projects/memory.png'
import TicTacToe from '../assets/projects/tictactoe.png'
import '../styles/Projects.css'
import { getLangFromUrl } from '../i18n/utils.ts'
import { useTranslations } from '../i18n/utils.ts'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const PROJECTS = [
  {
    "id": "1",
    "name": t('projects.ecommerce'),
    "src": Ecommerce,
    "href": "https://github.com/Nelfimov/django-eshop",
    "stack": "django python javascript html css"
  },
  {
    "id": "2",
    "name": t('projects.ecommerce2'),
    "src": Ecommerce2,
    "href": "https://github.com/Nelfimov/eshop-fullstack",
    "stack": "nextjs typescript express node mongodb bootstrap html css"
  },
  {
    "id": "3",
    "name": t('projects.waldo'),
    "src": Waldo,
    "href": "https://nelfimov.github.io/odin-phototaggingapp/",
    "stack": "react firebase html css webpack"
  },
  {
    "id": "4",
    "name": t('projects.battleship'),
    "src": Battleship,
    "href": "https://nelfimov.github.io/odin-battleship/",
    "stack": "javascript html css webpack"
  },
  {
    "id": "5",
    "name": t('projects.todo'),
    "src": Todo,
    "href": "https://nelfimov.github.io/odin-todoapp/",
    "stack": "javascript html css webpack"
  },
  {
    "id": "6",
    "name": t('projects.memory'),
    "src": Memory,
    "href": "https://nelfimov.github.io/odin-memory-card/",
    "stack": "react html css webpack"
  },
  {
    "id": "7",
    "name": t('projects.tictactoe'),
    "src": TicTacToe,
    "href": "https://nelfimov.github.io/odin-tictactoe/",
    "stack": "javascript html css webpack"
  }
]

---

<section class="projects">
  <a class="nav-link" id="projects"></a>
  <h1>{t('projects.title')}</h1>
  <div class="card-container" data-project-cards>
    {PROJECTS.map((project) => (
      <div class="card">
        <a href={project.href}>
          <Image src={project.src} alt={project.name} />
          <h3>{project.name}</h3>
          <div class="stack">
            {project.stack.split(' ').map((item) => (
              <img
                src={ICONS_LIST.tech[item].src}
                alt={item}
                class="tech-icon small"
              />
            ))}
          </div>
        </a>
      </div>
    ))}
  </div>
</section>

<script>
  const cardContainer = document.querySelector('[data-project-cards]')

  if (cardContainer) {
    const observer = new IntersectionObserver(
      (entries) => {
        const [entry] = entries
        if (entry.isIntersecting) {
          entry.target.classList.add('active')
          observer.unobserve(entry.target)
        }
      },
      {
        rootMargin: '0px 0px -100px 0px',
      }
    )

    const cards = Array.from(cardContainer.children)
    cards.forEach((card) => observer.observe(card))
  }
</script>
